
<input type="text" ng-model="test"/>

<div>Hello : {{test}}</div>

<div from="Amit" greet="Audience"></div>

<form class="form-search">
    <div class="input-append">
        <input type="text" ng-model="query" class="input-medium search-query" placeholder="Search">
        <button ng-click="reset()" type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
    <button ng-click="query=''; reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>
</form>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <th><a ng-click="sort('Text')">Todo</a>
            <span ng-show="do_show(true,'Text')"><i class="icon-arrow-down"></i></span>
            <span ng-show="do_show(false,'Text')"><i class="icon-arrow-up"></i></span>
        </th>
        <th><a ng-click="sort('Priority')">Priority</a>
            <span ng-show="do_show(true,'Priority')"><i class="icon-arrow-down"></i></span>
            <span ng-show="do_show(false,'Priority')"><i class="icon-arrow-up"></i></span>
        </th>
        <th><a ng-click="sort('DueDate')">Due</a>
            <span ng-show="do_show(true,'DueDate')"><i class="icon-arrow-down"></i></span>
            <span ng-show="do_show(false,'DueDate')"><i class="icon-arrow-up"></i></span>
        </th>
        <th><a href="#/new"><i class="icon-plus"></i></a></th>
    </thead>
    <tbody>
        <tr ng-repeat="todo in todos | orderBy:sort_order:is_desc" id="todo_{{todo.Id}}">
            <td>{{todo.Text}}</td>
            <td>{{todo.Priority}}</td>
            <td>{{todo.DueDate | date:mediumDate }}</td>
            <td>
                <a href="#/edit/{{todo.Id}}"><i class="icon-edit"></i></a>
                <a ng-click="delete()"><i class="icon-remove"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<a ng-show="has_more" ng-click="show_more()">Show more</a>
